@model Warehouse.Models.ViewModels.WarehouseProductVM

@{
    var title = "Create Warehouse Product";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.WarehouseProduct.Id != 0)
    {
        title = "Edit Product to Warehouse";
        <input asp-for="WarehouseProduct.Id" hidden />
    }

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">                
                <div class="form-group row">
                    <div class="col-8">
                        <select asp-for="WarehouseProduct.WarehouseId" asp-items="@Model.WarehouseInformationSelectList" class="form-control">
                            <option disabled selected>--Select Warehouse--</option>
                        </select>
                        <span asp-validation-for="WarehouseProduct.WarehouseId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <select asp-for="WarehouseProduct.ProductId" asp-items="@Model.ProductSelectList" class="form-control">
                            <option disabled selected>--Select Product--</option>
                        </select>
                        <span asp-validation-for="WarehouseProduct.ProductId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="WarehouseProduct.NumbProdInWarehouse">Number of Products In Warehouse</label>
                    </div>
                    <div class="col-5">
                        <input asp-for="WarehouseProduct.NumbProdInWarehouse" class="form-control" />
                        <span asp-validation-for="WarehouseProduct.NumbProdInWarehouse" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.WarehouseProduct.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                //Create
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@        
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

